/*------------------------------------------------------------------
[Adaptive.css]
Project:        My city guide
Version:        1
Last change:    24/02/15 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. 1280 / #1280
2. 1200 / #1200
3. 1060 / #1060
4. 1030 / #1030
5. 1024 / #1024
6. 992 / #992
7. 990 / #990
8. 860 / #860
9. 768 / #768
10. 700 / #700
11. 690 / #690
12. 650 / #650
13. 640 / #640
11. 600 / #600
12. 500 / #500
13. 400 / #400
12. 350 / #350
13. 300 / #300
-------------------------------------------------------------------*/

/*[1. 1280 / #1280]
*/
@media (min-width: 1795px) and (max-width: 1920px) {
  #carousel_img1 {
	  display : block;
	  width : 100%;
	  height : 100%;
  }
  #carousel_img2 {
	display: block;
    width: 50%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  width : 100%;
	  height : 100%;
  }
  .main_n_info div.column_three img:nth-child(2n) {
    height: 160px;
    top: -200px;
    right: 140px;
  }
  
  .main_n_info div.column_one img:nth-child(2n) {
	height: 160px;
	top: -300px;
    right: 110px;
  }
  
  #girl_jump {
      height : 450px;
  }
  
  .main_n_info div.column_two {
    overflow: inherit;
}
  .main div.black_board #pin_img1 {
    right: -94%;
	}
	
  .s13imageItemzoom {
    width: 160px;
    height: 160px;
    top: 13px !important;
    right: 0px;
    bottom: 10px;
    left: 15px !important;
  }
  
   .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 393.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 393.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 393.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 393.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}

}
/*------------------------------------------------------------------
[1. 1280 / #1280]
*/
@media (min-width: 1600px) and (max-width: 1794px) {
 .main_n_info div.column_three img:nth-child(2n) {
    height: 160px;
    top: -200px;
    right: 140px;
  }
  
   .main_n_info div.column_one img:nth-child(2n) {
	height: 160px;
	top: -300px;
    right: 110px;
  }
  
   .main_n_info div.column_two {
    overflow: inherit;
}
  
  #girl_jump {
      height : 450px;
  }
  
 .main div.black_board #pin_img1 {
    right: -94%;
	}
	
   #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 50%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  }
  
  .s13imageItemzoom {
    width: 160px;
    height: 160px;
    top: 13px !important;
    right: 0px;
    bottom: 10px;
    left: 15px !important;
  }
  
   .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 373.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 373.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 373.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 373.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
}

/*------------------------------------------------------------------
[2. 1200 / #1200]
*/
@media (min-width: 1500px) and (max-width: 1599px) {
	
#girl_jump {
      height : 450px;
  }
	
.main_n_info div.column_three img:nth-child(2n) {
    height: 160px;
    top: -200px;
    right: 120px;
  }
  
   .main_n_info div.column_one img:nth-child(2n) {
	height: 160px;
	top: -300px;
    right: 110px;
  }

.main_n_info div.column_two {
    overflow: inherit;
}

.main div.black_board #pin_img1 {
    right: -94%;
	}
	
section.main div.matrix_gallery div.img_blocks span {
    left: 100%;
}	
	
 #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 50%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  }
  
 .s13imageItemzoom {
    width: 160px;
    height: 160px;
    top: 13px !important;
    right: 0px;
    bottom: 10px;
    left: 15px !important;
  }
  
    .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 333.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 333.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 333.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 333.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
	
}

/*------------------------------------------------------------------
[3. 1060 / #1060]
*/
@media (min-width: 1290px) and (max-width: 1499px) {
	.main_n_info div.column_two {
    overflow: inherit;
}
	
	section.main div.matrix_gallery div.img_blocks span {
    left: 110%;
}
	
	 #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 65%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  }
	
    .main div.black_board #pin_img1 {
    right: -93%;
	}
	
	.s13imageItemzoom {
    width: 160px;
    height: 160px;
    top: 13px !important;
    right: 0px;
    bottom: 10px;
    left: 15px !important;
  }
  
    .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 303.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 303.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 303.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 303.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
	
}

/*------------------------------------------------------------------
[4. 1030 / #1030]
*/
@media (min-width: 1050px) and (max-width: 1289px) {
  
  .main_n_info div.column_two {
    height: 1000px;
    overflow: auto;
    margin-bottom: 30px;
}
	
	section.main div.matrix_gallery div.img_blocks span {
    top: -83px;
	left: 140%;
}
	
  #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 70%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  } 
  section.main div.matrix_gallery div.img_blocks {
    height: 140px;
}
  
  section.main div.matrix_gallery div.img_blocks img {
    width: 123px;
    height: 100%;
  }
  
   .main div.black_board #pin_img1 {
    right: -91.5%;
	}
	
	section.main div.matrix_gallery div.img_blocks span {
    top: -73px;
	left: 100%;
	font-size: 25px;
}

.s13imageItemzoom {
    width: 101px;
    height: 118px;
    top: 13px !important;
	right: 0px;
    left: 9px !important;
	bottom: 10px;
    font-size: 13px !important;
}

  .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 253.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 253.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 253.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 253.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}

}

/*------------------------------------------------------------------
[5. 1024 / #1024]
*/
@media (min-width: 800px) and (max-width: 1049px) {
	
	.main_n_info div.column_three img:nth-child(2n) {
    right: 65px;
  }
    
	.main_n_info div.column_one img:nth-child(2n) {
	top: -210px;
    right: 65px;
	 }
	
	div.notice_box div.carousel-inner h3 {
    padding: 110px 5px;
    font-size: 20px;
}
	
	 .main_n_info div.column_two {
    height: 1000px;
    overflow: auto;
    margin-bottom: 30px;
}
	
	section.main div.matrix_gallery div.img_blocks span {
    top: -63px;
	left: 100%;
	font-size: 15px;
}
	
  #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 95%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  } 
  section.main div.matrix_gallery div.img_blocks {
    height: 105px;
}
  
  section.main div.matrix_gallery div.img_blocks img {
    width: 120px;
    height: 100%;
  }
  
   .main div.black_board #pin_img1 {
    right: -88%;
	}
	
	div.section_header h1 {
    font-size: 20px;
	}
	
	.s13imageItemzoom {
    width: 100px;
    height: 87px;
    font-size: 12px !important;
    left: 7px !important;
    padding: 30% 2%;
	}
	
	  .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 203.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 203.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 203.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 203.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
    
}
/*------------------------------------------------------------------
[8. 860 / #860]
*/
@media (min-width: 750px) and (max-width: 799px) {
	
	.main_n_info div.column_one img:nth-child(2n) {
    height: 90px;
    top: -200px;
    right: 60px;
	}
	
	.main_n_info div.column_three img:nth-child(2n) {
    height: 90px;
    top: -200px;
    right: 60px;
	}
	
   .main_n_info div.column_two {
    height: 1050px;
    overflow: auto;
    margin-bottom: 30px;
}
	
  div.notice_box div.carousel-inner h3 {
    padding: 110px 2px;
    font-size: 18px;
}
  #carousel_img1 {
	  display : block;
	  height : 100%;
  }
  
   #carousel_img2 {
	display: block;
    width: 100%;
    height: 100%;
  }
  #carousel_img3 {
	  display : block;
	  height : 100%;
  } 
  
   section.main div.matrix_gallery div.img_blocks {
    height: 95px;
}
  
  section.main div.matrix_gallery div.img_blocks img {
    width: 100px;
    height: 100%;
  }
  
  div.section_header h1 {
    font-size: 0px;
	}
	
  .main div.black_board #pin_img1 {
    right: -87%;
	}
	
  .main div.bee_map {
    top: 70px;
  }
  
  .s13imageItemzoom {
    font-size: 10px !important;
	width: 85px;
    height: 85px;
    top: 6px !important;
	padding : 30px 2px;
	}
	
	  .paper_one::before {
    content: "";
    display: block;
    height: inherit;
    width: 153.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_one::after {
    content: "";
    display: block;
    height: inherit;
    width: 153.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
  
   .paper_three::before {
    content: "";
    display: block;
    height: inherit;
    width: 153.64px;
    position: absolute;
    z-index: -1;
    background: #ccc;
    transform: rotate(4deg);
}
  
  .paper_three::after {
    content: "";
    display: block;
    height: inherit;
    width: 153.64px;
    position: absolute;
    z-index: -2;
    background: #ccc;
    transform: rotate(-4deg);
    top: 0;
}
}

/*------------------------------------------------------------------
[6. 992 / #992]
*/

}

/*------------------------------------------------------------------
[7. 990 / #990]
*/

/*------------------------------------------------------------------
[8. 860 / #860]
*/
@media (min-width: 900px) and (max-width: 950px) {
  section.main div.matrix_gallery div.img_blocks span {
    top: -63px;
	left: 100%;
	font-size: 20px;
}
}

/*------------------------------------------------------------------
[9. 768 / #768]
*/
@media (min-width: 800px) and (max-width: 899px) {
  section.main div.matrix_gallery div.img_blocks span {
    top: -63px;
	left: 110%;
	font-size: 18px;
  }
}


/*------------------------------------------------------------------
[10. 700 / #700]
*/
@media (min-width: 750px) and (max-width: 799px) {
  section.main div.matrix_gallery div.img_blocks span {
    top: -53px;
	left: 105%;
	font-size: 15px;
  }
}


